*{
    text-align: none;
    margin: 0;
    padding: 0px;
}

body {
    background-image: url("fotopur.jpeg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fcf9f6f8;
}

.wrapper {
    width: 1200pt;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #99A799;
}

.MENU {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background:snow;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 70px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans-ms';
    color: #99A799;
    right: 50%;
    margin: 0 64px;
    font-size: 18px;
    display: flex;
    align-items: center;

}

.h2 {
    font-family: 'comic sans-ms';
    font-weight: 800; 
    font-size: 45px;
    margin-bottom: 45px;
    color: #99A799;
    width: 100%;
    line-height: 50px; 
    right: 50%;  
    margin: 0 64px;
    font-size: 18px;
    display: flex;
    align-items: center; 
}

#tag {
    margin-top: 0;
    margin-bottom: 24px;
}

.p {
    margin: 0 64px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.an {
    font-style: bold;
    font-size: 25px;
    color: #DCDCDC;
    padding-top: 7%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

  

a.lima {
    background: #F2DDC1;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.content1 {
    display:grid;
    grid-template-columns: 66% auto;
    padding: 0 48px 48px 48px;
    color:#DCDCDC ;
}

.text1 {
  margin: 0 64px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color:#DCDCDC;
}

#tag {
  margin-top: 0;
  margin-bottom: 24px;
  letter-spacing: 3px;
}

mark{
    background: #004258;
    color: white;
    padding: 5px 5px;
  }

.img {
  width:100%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  padding-top: 5%;
}

.tahun{
    padding-left: 7%;
    font-size: 20px;

}

div.gallery {
    background-color:  #0a2744;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

  
.responsive {
    padding: 0 8px;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

.content5 {
    padding: 6% 12%;
    min-height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.awa {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display:grid;
  grid-template-columns: 20% auto;
  padding: 20px 40px 40px 30px;
  color:#DCDCDC ;
}

.abc {
  font-size: 20px;
}

.study{
  width:100%;
  max-width: 300px;
  height: auto;
  padding-top: 5%;
}



@media (max-width: 1024px) {
  .footer-grid {
    padding-left: 45px;
  }
}

.footer-grid p {
  margin: 10px 0;
}

.contact{
  font-size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
}


.content2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  padding: 0 12%;
  color:white;
}

.card {

  transition: 0.3s;
  width: 280px;
  min-height: 350px;
  padding: 20px;
  margin: 81px 0;
  text-align: center;
}

.card:hover {
  background-color: #02022c;
}


.va {
  padding-top: 45px;
}